.main {
  position: relative;
  top: 0;
  background-color: blue;
  width: 100vw;
}

.navbar-main {
  position: absolute;
  width: 100%;
  background-color: #2f3136;
  height: 8vh;
  display: flex;
  justify-content: center;
}

.navbar-title-container {
  background-color: blue;
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.navbar-title-container p {
  font-size: xx-large;
  font-family: "Times New Roman", serif;
  font-style: italic;
  color: #ffffff;
  transform: skewY(-3deg) translateY(-50%);
  position: relative;
  top: 35%;
  /* margin-top: 10%; */
  /* margin-right: -4%; */
}

.nav-hat-icon {
  position: absolute;
  width: 30px;
  height: auto;
  top: 1%;
  right: 22%;
  rotate: 45deg;
  /* background-color: red;  */
}
